* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body {
  background-image: url(../images/bg-desktop.svg);
  background-position: top left;
  background-size: cover;
  padding: 8% 5% 5% 5%;
}

.hero .hero__fig {
  grid-template-columns: 180px;
}

.main .main__info {
  padding: 0 80px;
}
.main .main__info .main__title {
  font-size: 2.8rem;
}
.main .main__info .btn {
  width: 200px;
  padding: 11px 0;
}

.footer {
  justify-items: right;
}
.footer .footer__follow .footer__link {
  width: 35px;
  height: 35px;
  font-size: 1.6rem;
}
.footer .attribution {
  justify-self: center;
  font-size: 1.3rem;
}