body {
  background-image: url(../images/bg-desktop.svg);
  background-position: top left;
  background-size: cover;
  padding: 8% 5% 5% 5%;
}

.hero {

  .hero__fig {
    grid-template-columns: 180px;
  }

}