.footer {
  margin-bottom: 20px;
  display: grid;
  justify-items: center;

  .footer__follow {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 11px;
    animation: follow 1s linear 1s 1;

    .footer__link {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border: 1px solid $color-primary;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 1.4rem;
      color: $color-primary;
      transition: .5s all ease;

      &:hover {
        color: #F252CA;
        border-color: #F252CA;
      }

    }

  }

}